body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: #b8ffe8;
}
h1 {
  font-size: 42px;
}

/* Botão */

button {
  background: #1bd5db;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin-top: 25px;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

/* Jogo */

#container {
  display: flex;
  width: 300px;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
}

.box {
  height: 100px;
  border: 5px solid #000;
  box-sizing: border-box;
  flex: 1 1 33%;
}

#block-1,
#block-2,
#block-3 {
  border-top: none;
}

#block-1,
#block-4,
#block-7 {
  border-left: none;
}

#block-3,
#block-6,
#block-9 {
  border-right: none;
}

#block-7,
#block-8,
#block-9 {
  border-bottom: none;
}

/* Símbolos */

.x {
  font-size: 65px;
  color: red;
  display: inline-block;
  line-height: 100px;
}

.o {
  width: 50px;
  height: 50px;
  border: 5px solid green;
  border-radius: 50%;
  display: inline-block;
  margin-top: 17px;
}

/* Classe de esconder */

.hide {
  display: none !important;
}

/* Placar */

#scoreboard-container {
  font-weight: bold;
  margin-top: 30px;
  font-size: 25px;
  position: relative;
  margin: auto;
}

.score-box {
  margin: 0 20px;
}

#x-scoreboard {
  color: red;
  margin-right: 3px;
}

#o-scoreboard {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid green;
  border-radius: 50%;
  margin-right: 3px;
}

/* Mensagem de Vitória */

#message p {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 171px;
  width: 450px;
  font-size: 40px;
  background-color: #000;
  color: #fff;
  padding: 20px 0px;
}

#reset {
  cursor: pointer;
}
